* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
background-color:rgb(236 20 54);
}
    .container {
height: 200px;
width: 200px;
display: block;
margin-right: auto;
margin-left: auto;
    }
        .testo {
            text-aling: center;
            transform: translateX(200)
            color: white;
    }
